/* Enter your custom styles here */

.myCustomButton {
    background-color: #C0C0C0 /* Cambia el color a tu preferencia */
  
}
.myCustomButton1 {
    background-color: #B87333; /* Cambia el color a tu preferencia */
    color: #2600ff; /* Cambia el color del texto a tu preferencia */
}

.myCustomButton2 {
    color: #3a65a9; /* Cambia el color del texto a tu preferencia */
}


